<style type="text/css">
.empty-class {}
#background
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.stretch
{
    width:100%;
    height:100%;
}
#logo
{
	width:547px;
	margin:auto;
	text-align:center;
	padding-top:12px;
	padding-bottom:12px;
}
.table-ornament-top
{
	background-image:url('../images/res/frame-top.png');
	margin:auto;
	height:76px;
	width:617px;
}
.table-ornament-bottom
{
	background-image:url('../images/res/frame-bottom.png');
	margin:auto;
	height:60px;
	width:617px;
}
.table-separator
{
	background-image:url('../images/res/frame-fill.png');
	margin:auto;
	height:17px;
	width:617px;
}
.table
{
	width:617px;
	height:700px;
	display:table;
	margin:auto;
	background-image:url('../images/res/frame-fill.png');
}
.row
{
	text-align:center;
	width:617px;	
	display:table-row;
}
#question-area
{
	background-image:url('../images/res/frameFooterImage.png');
	background-repeat:no-repeat;
	background-position:bottom;
}
.input-field
{
    font-family: "Throw My Hands Up in the Air";
    font-size: 1.3em;
    width:437px;
    height:57px;
	background-image:url(../images/res/input.png);
	border-style:none;
	padding-left:23px;
	vertical-align: middle;
	background-color:transparent;
}
.input-button
{
	font-family: "Throw My Hands Up in the Air";
    font-size: 1em;
	background-image:url(../images/button.png);
    width:89px;
    height:39px;
    border:none;
    background-color:transparent;
}

@font-face {
    font-family: "Throw My Hands Up in the Air";
    src: url("../fonts/ThrowMyHandsUpintheAir.ttf")
}
.question-text
{
    font-family: "Throw My Hands Up in the Air";
    font-size: 2em;
}

.message-title-text
{
    font-family: "Throw My Hands Up in the Air";
    font-size: 2em;
}
.message-body-text
{
    font-family: "Throw My Hands Up in the Air";
    font-size: 1.2em;
}
.message-body
{
	padding: 0em 1.5em;
}
.postcard
{
	background-image:url('../images/postcard.png');
	text-align:center;
	vertical-align: middle;
}
</style>